.btn-justice-color{
    background: #B68C5A;

}

.title{
    font-family: 'EB Garamond', serif;
   

}

.container{

background-image: url(../images/banner.png);




}


.text-my-color{

    color: #414040;
    
}

.p-my-color{
    color: #707070;
}